

  .slick-dots-custom {
    display: flex !important;
    justify-content: center !important;
    list-style: none !important;
    padding: 0 !important;
    margin: 0 !important;
  }
  
  .slick-dots-custom li{
    margin: 0 5px !important;
   
  }
  
  .slick-dots-custom li button {
    font-size: 0 !important;
    width: 10px !important;
    height: 10px !important;
    border-radius: 50% !important;
    background-color: #ccc !important;
    border: none !important;
    cursor: pointer !important;
    outline: none !important;
  }
  
  .slick-dots-custom li.slick-active button {
    background-color: #000 !important; /* Adjust color for active dot */
  }
  